[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.5"
channels = "==3.0.3"
channels-redis = "==3.2.0"

[dev-packages]
selenium = "*"

[requires]
python_version = "3.9"
