{% extends 'base.html' %}

{% block title %}PlaneChaseWithFriends - Room {{ room_id }}{% endblock %}

{% block content %}
    <div class="h-100 row align-items-center">
        <div class="col" style="text-align: center;">
            <img src="{{ img_placeholder }}" style="transform: rotate(90deg);" class="img-fluid" alt="">
            <button id="send-event" class="btn btn-primary">Send event</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ room_id|json_script:"game-id" }}
    <script>
        const gameName = JSON.parse(document.getElementById('game-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + gameName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log(e)
        };

        document.querySelector('#send-event').onclick = function (e) {
            chatSocket.send(JSON.stringify({
                'event': 'click',
                'message': 'hello, world'
            }));
        }
    </script>
{% endblock %}